.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.form-container {
    width: 400px;
    height: 600px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.title {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input {
    border-radius: 20px;
    border: 1px solid black;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: teal;
    text-decoration-color: teal;
}

.page-link-label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.page-link-label:hover {
    color: #000;
}

.form-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form-btn:active {
    box-shadow: none;
}

.sign-up-label {
    margin: 0;
    color: #747474;
    font-size: 14px;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
}

.buttons-container {
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 15px;
    flex-direction: column;
    justify-content: flex-start;
}

.google-login-button, .tiktok-login-button {
    border-radius: 28px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.tiktok-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid black;
}

.google-login-button {
    border: 2px solid #747474;
}

.tiktok-icon, .google-icon {
    font-size: 18px;
}